<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.powernode.mapper.ActivityRemarkMapper">
  <resultMap id="BaseResultMap" type="com.powernode.pojo.ActivityRemark">
    <!--@Table tbl_activity_remark-->
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="note_content" jdbcType="VARCHAR" property="noteContent" />
    <result column="create_time" jdbcType="CHAR" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="edit_time" jdbcType="CHAR" property="editTime" />
    <result column="edit_by" jdbcType="VARCHAR" property="editBy" />
    <result column="edit_flag" jdbcType="CHAR" property="editFlag" />
    <result column="activity_id" jdbcType="CHAR" property="activityId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, note_content, create_time, create_by, edit_time, edit_by, edit_flag, activity_id
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--根据主键查询-->
    select 
    <include refid="Base_Column_List" />
    from tbl_activity_remark
    where id = #{id,jdbcType=CHAR}
  </select>

  <delete id="deleteById" parameterType="java.lang.String">
    <!--根据主键删除-->
    delete from tbl_activity_remark
    where id = #{id,jdbcType=CHAR}
  </delete>

  <insert id="insert" parameterType="com.powernode.pojo.ActivityRemark">
    <!--插入评论-->
    insert into tbl_activity_remark (id, note_content, create_time, 
      create_by, edit_time, edit_by, 
      edit_flag, activity_id)
    values (#{id,jdbcType=CHAR}, #{noteContent,jdbcType=VARCHAR}, #{createTime,jdbcType=CHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{editTime,jdbcType=CHAR}, #{editBy,jdbcType=VARCHAR}, 
      #{editFlag,jdbcType=CHAR}, #{activityId,jdbcType=CHAR})
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.powernode.pojo.ActivityRemark">
    <!--有选择的更新评论-->
    update tbl_activity_remark
    <set>
      <if test="noteContent != null">
        note_content = #{noteContent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=CHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null">
        edit_time = #{editTime,jdbcType=CHAR},
      </if>
      <if test="editBy != null">
        edit_by = #{editBy,jdbcType=VARCHAR},
      </if>
      <if test="editFlag != null">
        edit_flag = #{editFlag,jdbcType=CHAR},
      </if>
      <if test="activityId != null">
        activity_id = #{activityId,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.powernode.pojo.ActivityRemark">
    <!--更新评论-->
    update tbl_activity_remark
    set note_content = #{noteContent,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=CHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      edit_time = #{editTime,jdbcType=CHAR},
      edit_by = #{editBy,jdbcType=VARCHAR},
      edit_flag = #{editFlag,jdbcType=CHAR},
      activity_id = #{activityId,jdbcType=CHAR}
    where id = #{id,jdbcType=CHAR}
  </update>

  <delete id="deleteByActivityId">
  <!--根据市场活动进行删除-->
  delete from tbl_activity_remark where activity_id = #{activityId}
  </delete>

  <select id="selectByActivityId" resultMap="BaseResultMap">
   <!-- 根据市场活动id查询该市场活动的所有备注信息  -->
  select <include refid="Base_Column_List"/>
  from tbl_activity_remark where activity_id = #{activityId}
  </select>

</mapper>